<!DOCTYPE html>
<html>
<head>
<title>CROW</title>
</head>
<body style="background-color:Moccasin;">
<h1 style="color:SaddleBrown;font-family:papyrus;text-align:center;">Catching the Right Objective Word</h1>
<form action="/" method="post" style="text-align:center;">
    <label for="word" style="color:SaddleBrown;font-family:papyrus;text-align:center;">Search a stronger word for:</label>
    <input type="text" id="word" name="word" style="font-family:papyrus;text-align:center;"/>
    <input type="submit" value="Catch" name="gobtn" style="color:SaddleBrown;font-family:papyrus;"/>
</form>
{% if prompt %}
<div class='formtitle' style="color:SaddleBrown;font-family:papyrus;text-align:center;">{{prompt}}</div>
{% elif word %}
<img src=cloud_image width='200' height='200' alt='word_cloud' />
{% endif %}
</body>
</html>